$primary: #9dd1f1;
$primary-light: #c8e0f4;
$accent-color: #5e4ae3;

$background-color1: #e7f4fc;
$background-color2: #f2f7fc;
$background-gradient: linear-gradient(135deg, $background-color1 25%, $background-color2 75%);

$text-color: #000000dd;
$text-color-white: #ffffffdd;