@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Commissioner;
  src: url("/fonts/Commissioner-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Commissioner;
  src: url("/fonts/Commissioner-Medium.ttf");
  font-weight: 600;
}