@import "colors";

$raleway: Raleway, sans-serif;
$commissioner: Commissioner, sans-serif;

$box-shadow: 2px 2px 4px 0 #0000001A;

$device-s: 600px;
$device-m: 768px;
$device-l: 992px;
$device-xl: 1200px;
