<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.min.css?zetgvbs">

    <title>Nicolas Martinussen</title>
</head>
<body>
<div id="top">
    <div class="middle-text">
        <h1 id="text-writing">Choose your language...</h1>
        <ul class="languages">
            <li><a href="/en" class="button"><span class="flag-icon flag-icon-gb %>"></span><span>English</span></a></li>
            <li><a href="/fr" class="button"><span class="flag-icon flag-icon-fr %>"></span><span>Français</span></a></li>
        </ul>
    </div>
</div>
<script type="application/javascript">
    let texts = [
        "Choose your language...",
        "Choisissez votre langue..."
    ];

    let timeBeforeWriting = 500;
</script>
<script type="application/javascript" src="/js/bundle.js?zetgvbs"></script>
</body>
</html>
